/* ========== ОБЩИЕ СТИЛИ ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    color: #222;
    background-color: #f7f7f7;
    line-height: 1.5;
}

/* Контейнер для центрирования контента */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.full-container {
    width: 100%;
}

/* ========== ХЕДЕР ========== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 5%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    height: 10%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.2s ease;
}

.nav a:hover {
    color: #0078ff;
    font-size: 1.1rem;
}

.nav a.active {
    color: #0078ff;
    font-weight: 600;
}

.nav a.active:hover {
    color: #114eff;
    font-size: 1.1rem;
}

/* ========== HERO ========== */
.hero-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.75);
}

.black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.hero-text {
    position: absolute;
    color: #fff;
    text-align: center;
    padding: 20px;
    top: 5%;
}

.hero-text h2 {
    font-size: 2.5rem;
    line-height: 1.3;
    white-space: pre-wrap;
}

/* ========== СЕКЦИИ ========== */
section {
    padding: 80px 0;
}

#about,
#partners {
    background: #fff;
    margin-bottom: var(--star-distance);
}
#partners .sect-text
{
    margin-bottom: 10px;
}
.btn-container
{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#services {
    background: #e9eef5;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #fff;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.review:hover {
    scale: 1.05;
}

/* ========== ФУТЕР ========== */
footer {
    background: #222;
    color: #ccc;
    padding: 60px 0;
}

.footer-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footer-column h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.footer-column p,
.footer-column a {
    color: #aaa;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.footer-column a:hover {
    color: #fff;
}

#burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 11;
    /* чтобы был поверх навигации */
}

#burger div {
    width: 100%;
    height: 3px;
    background: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* ========== ABOUT (НАШИ КОМАНДЫ) ========== */
#about {
    background: #fff;
    padding: var(--star-distance) 0;
}

.sect-text {
    text-align: center;
    margin-bottom: var(--star-distance);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sect-text h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    position: relative;
    display: inline-block;
}

.sect-text h2::after {
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    background: #0078ff;
    margin: 10px auto 0;
    border-radius: 2px;
}

/* Контейнер карточек */
.comands-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Каждая карточка */
.card {
    background: #fefefe;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 320px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Фото */
.img-container {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card:hover .img-container img {
    transform: scale(1.05);
}

/* Контент карточки */
.card .content {
    padding: 20px;
    text-align: center;
}

.card .content h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.card .content p {
    font-size: 0.95rem;
    color: #555;
}

/* Кнопка */
.card button {
    margin: 15px 20px 25px;
    padding: 10px 0;
    border: none;
    background: #0078ff;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.card button:hover {
    background: #005fcc;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}



#main {
    padding: 0;
}

@keyframes OPEN {
    0% {
        max-height: 0;
        padding: 0;
    }

    100% {
        max-height: fit-content;
        padding: 20px 0;

    }
}

.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 50px 0;
}

.icon {
    width: var(--star-distance);
    height: var(--star-distance);
    transition: all 0.5s ease;
    cursor: pointer;
    animation: fade-in 1s ease forwards;
}

.icon:nth-child(1) {
    animation-delay: 0s;
}

.icon:nth-child(2) {
    animation-delay: 0.2s;
}

.icon:nth-child(3) {
    animation-delay: 0.4s;
}

.icon:nth-child(4) {
    animation-delay: 0.6s;
}

.icon:nth-child(5) {
    animation-delay: 0.8s;
}


.icon:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 8px #000);
}

.moon {
    background-color: #ffd64e;
    border-radius: 50%;
    padding: 20px;
    color: var(--color-m-w);
}

.moon:hover {
    animation: mooons 2s ease infinite;
}

.sun {
    background-color: #ffff00;
    color: #b67c00;
    border-radius: 50%;
    padding: 10px;
}

.sun:hover {
    animation: sans 20s ease forwards;
}

.heart {
    background-color: #ffa8b9;
    color: #ff4545;
    border-radius: 45%;
    padding: 20px;
    animation: tuc 2s ease infinite;
}


.gear {
    background-color: #acacac;
    color: #5e5e5e;
    border-radius: 10px;
    padding: 20px;
}

.gear:hover {
    animation: rotatess 2s ease infinite;
}

.star {
    background-color: #00325c;
    color: #fff;
    border-radius: 50%;
    padding: 20px;
}

.star.fly {
    animation: stars 3s ease-in-out forwards;
}


.draw {
    stroke: currentColor;
    fill: none;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    transition: stroke 15s ease;
    pointer-events: none;
}

.icon:hover .draw {
    animation: draw 15s linear forwards;
}

.my-icon {
    .my-circle {
        color: #0000ff;
    }

    .my-line {
        color: #ff0000;
    }

    overflow: auto;
}

.my-icon:hover {
    .my-circle {
        animation: circles 2s ease infinite;
    }

    .my-line {
        animation: lines 2s ease infinite;
    }
}

@keyframes circles {
    0% {
        transform: rotate(0deg);

    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);

    }
}

@keyframes lines {
    0% {
        transform: skewX(0deg);

    }

    50% {
        transform: skewX(90deg);
    }

    100% {
        transform: skewX(0deg);

    }
}

@keyframes draw {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotatess {
    0% {
        transform: rotate(90deg);
        border-radius: 10px;
    }

    50% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(90deg);
        border-radius: 50%;

    }
}

@keyframes tuc {
    0% {
        transform: scale(1.2);
        filter: drop-shadow(0 0 8px #ffe6eb);

    }

    50% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.2);
        filter: drop-shadow(0 0 8px #ffe6eb);


    }
}


@keyframes sans {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 8px #ffff00);

    }

    10% {
        transform: scale(1.2);
        background-color: transparent;
        color: #ffff00;
    }

    100% {
        transform: scale(2);
        rotate: 36000000deg;
        background-color: transparent;
        color: #ffff00;
    }
}

@keyframes mooons {
    0% {
        transform: skewX(0deg) skewY(0deg);
        color: var(--color-m-b);
    }

    10% {
        transform: skewX(30deg) skewY(0deg);
        color: var(--color-m-w);
    }

    20% {
        transform: skewX(0deg) skewY(30deg);
        color: var(--color-m-b);
    }

    30% {
        transform: skewX(-30deg) skewY(0deg);
        color: var(--color-m-w);
    }

    40% {
        transform: skewX(0deg) skewY(-30deg);
        color: var(--color-m-b);
    }

    50% {
        transform: skewX(30deg) skewY(30deg);
        color: var(--color-m-w);
    }

    60% {
        transform: skewX(30deg) skewY(-30deg);
        color: var(--color-m-b);
    }

    70% {
        transform: skewX(-30deg) skewY(30deg);
        color: var(--color-m-w);
    }

    80% {
        transform: skewX(-30deg) skewY(-30deg);
        color: var(--color-m-b);
    }

    90% {
        transform: skewX(15deg) skewY(15deg);
        color: var(--color-m-w);
    }

    100% {
        transform: skewX(0deg) skewY(0deg);
        color: var(--color-m-b);
    }
}

:root {
    --color-m-w: #d35f00;
    --color-m0b: #523c00;
    --star-distance: 150px;
    /* вот, задаём реальное смещение */
}

@keyframes stars {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translateX(calc(var(--star-distance) * 0.5));
    }

    20% {
        transform: translateY(calc(var(--star-distance) * 0.7));
    }

    30% {
        transform: translate(calc(var(--star-distance) * -0.6), calc(var(--star-distance) * 0.3));
    }

    40% {
        transform: translate(calc(var(--star-distance) * 0.2), calc(var(--star-distance) * -0.8));
    }

    50% {
        transform: translate(var(--star-distance), var(--star-distance));
    }

    60% {
        transform: translate(calc(var(--star-distance) * -0.8), var(--star-distance));
    }

    70% {
        transform: translate(var(--star-distance), calc(var(--star-distance) * -0.8));
    }

    80% {
        transform: translate(calc(var(--star-distance) * -0.8), calc(var(--star-distance) * -0.6));
    }

    90% {
        transform: translate(calc(var(--star-distance) * 0.4), calc(var(--star-distance) * -0.4));
    }

    100% {
        transform: translate(0, 0);
    }
}


.btn-plus {
    width: 40px;
    height: 40px;
    background-color: #0078ff;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
}
.btn-minus {
    width: 40px;
    height: 40px;
    background-color: #ee0e0e;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
}

:root {
    --color-m-w: #d35f00;
    --color-m0b: #523c00;
    --star-distance: 100px;
}


/* ========== АДАПТИВ ========== */
@media (max-width: 768px) {
    header {
        justify-content: space-between;
        flex-direction: row;
        padding: 15px 20px;
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        z-index: 20;
    }

    body {
        padding-top: 80px;
        /* чтобы контент не залезал под фиксированный хедер */
    }

    .logo {
        z-index: 21;
    }

    .nav {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 1);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-20px);
        transition: all 0.4s ease;
        z-index: 20;
    }

    .nav.active {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);
        background: rgba(255, 255, 255, 0.75);
    }

    .nav ul {
        flex-direction: column;
        gap: 25px;
    }

    #burger {
        display: flex;
        z-index: 21;
    }

    #burger.active div:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
    }

    #burger.active div:nth-child(2) {
        opacity: 0;
    }

    #burger.active div:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
    }


    .hero-text h2 {
        font-size: 1.8rem;
    }

    .comands-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .sect-text h2 {
        font-size: 1.6rem;
    }

    .footer-main-content {
        flex-direction: column;
    }

    .reviews {
        grid-template-columns: 1fr;
    }

    .review {
        gap: 40px;
    }
    .icon
    {
        width: 75px;
        height: 75px;
        padding: 10px;
    }
}